.dots {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.dot1 {
  animation: dot 1.5s ease-in-out infinite;
}

.dot2 {
  animation: dot 1.5s ease-in-out -0.2s infinite;
}

.dot3 {
  animation: dot 1.5s ease-in-out -0.4s infinite;
}
@keyframes dot {
  0% {
    transform: translateY(2.5px);
  }
  50% {
    transform: translateY(-2.5px);
  }
  100% {
    transform: translateY(2.5px);
  }
}
